---
import Layout from '../layouts/Layout.astro';

const title = 'Unamask.fyi: Unmask Shady Terms in Legal Documents';
const description = 'Your personal legal BS detector';
---

<Layout title={title} description={description}>
	<div class="min-h-screen flex flex-col">
        <header class="py-6 px-4 md:px-8">
            <div class="container mx-auto flex justify-between items-center">
                <h1 class="text-2xl font-bold text-primary">🎭UNMASK</h1>
                <a href="#signup" class="bg-primary text-background px-4 py-2 rounded-full font-semibold hover:bg-opacity-90 transition duration-300">Join Waitlist</a>
            </div>
        </header>

        <main class="flex-grow flex items-center">
            <div class="container mx-auto px-4 md:px-8 flex flex-col md:flex-row items-center">
                <div class="md:w-1/2 mb-8 md:mb-0">
                    <h2 class="text-4xl md:text-5xl font-bold mb-4">Unmask Shady Terms in Legal Documents</h2>
                    <p class="text-xl mb-4 text-primary font-semibold">Your personal legal BS detector</p>
                    <p class="text-xl mb-8">Our Chrome extension reveals hidden clauses, decodes complex jargon, and highlights potential red flags in terms & conditions and legal documents. Don't sign away your rights - unmask the truth!</p>
                    <form action="https://worker.maciej-janowski1.workers.dev" method="post" id="signup" class="space-y-4 max-w-md">
                        <input 
                            type="email" 
							name="email"
                            placeholder="Enter your email"
                            class="w-full px-4 py-3 rounded-full bg-white bg-opacity-20 border border-white border-opacity-30 focus:outline-none focus:ring-2 focus:ring-primary text-white placeholder-white placeholder-opacity-70"
                        >
                        <button 
							type="submit"
                            class="w-full bg-secondary text-background py-3 px-6 rounded-full font-semibold hover:bg-opacity-90 transition duration-300"
                        >
                            Unmask the Fine Print
                        </button>
                    </form>
                </div>
                <div class="md:w-1/2 flex justify-center">
                    <img src="/hero.png" alt="Unmask.fyi Chrome Extension unmasking shady terms" class="h-100"/>
                </div>
            </div>
        </main>

        <footer class="py-6 bg-background bg-opacity-30">
            <div class="container mx-auto px-4 md:px-8 text-center">
                <p>&copy; 2024 unmask.fyi. All rights reserved. Unmasking shady terms, one click at a time.</p>
            </div>
        </footer>
    </div>
</Layout>

